<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>
      OCR Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="wrapper" *ngIf="!foundText">
    <div class="no-data ion-text-center">
      <img src="assets/scan.png" alt="img">
      <h2>Scan</h2>
      <p>Extract information from IC</p>
    </div>
  </div>

  <ion-card *ngIf="foundText">
    <ion-card-header>
      <ion-card-title>Card Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="image" alt="img" style=" width: 100%; height: auto;">
      <p class="ion-text-wrap">{{text}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="reset()" class="btn-custom"
                color="danger"
                expand="block" shape="round" style="  --box-shadow: var(--ion-color-danger-shadow);">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          <b>Reset</b>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="onScan()" class="btn-custom"
                color="primary"
                expand="block" fill="solid" shape="round"
                style="  --box-shadow: var(--ion-color-primary-shadow);">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <b>Scan</b>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
